// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@300;500;700&display=swap');

h1 {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 700;
  text-align: center;
}

.text {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: larger;
}

.person {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px 5px 10px 5px;
  margin: 10px;
  background: rgb(133, 113, 121);
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  &:hover {
    background: rgb(87, 74, 79);
   }
}

.card {
  background-color: rgb(250, 235, 242);
  box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.349);
  padding: 5px;
  margin: 10px;
}

.container {
  margin: 0 auto;
  width: 700px;
}

.submit {
  font-family: 'Zen Kurenaido', sans-serif;
  background-color: rgb(250, 235, 242);
  border: solid grey 1px;
  border-radius: 4px;
  &:hover {
    background: rgb(87, 74, 79);
   }
}

.input {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: rgba(250, 235, 242, 0.486);
  border: solid grey 1px;
  border-radius: 4px;
}
